$font-family-sans-serif: 'Roboto', sans-serif;

$primary: #1C5D9D;
$secondary: #6495C5;
$light: #D4D8DC;

$navbar-light-color: rgba(black, 0.7);
$navbar-light-active-color: black;

$jumbotron-bg: #DCD8D4;

$link-color: black;
$link-hover-decoration: none;

$enable-rounded: false;