@import "variable_overrides";
@import "../bootstrap/scss/bootstrap.scss";
@import "pages/index.scss";
@import "pages/cart.scss";
@import "pages/product.scss";
@import "components/components.scss";

@keyframes wiggle {
    0%, 100% {
        transform: rotate(0deg);
    }
    20%, 60% {
        transform: rotate(-2deg);
    }
    40%, 80% {
        transform: rotate(2deg);
    }
}