.body-cart {
    height: 100vh;
}

.container-size {
    height: calc(100vh - 76px - 67px);
}

.jumbotron-cart a {
    text-decoration: underline;
    &:hover {
        font-weight: 700;
    }
}

.col-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-name {
    font-size: 2rem;
}

@media (max-width: 575px) {
    .fixed-bottom.footer-cart {
        position: relative;
        bottom: auto;
    }

    .price {
        margin-top: 0.75rem;
    }
}

@media (max-width: 991px) {
    .container-size {
        height: calc(100vh - 76px - 107px);
    }
}