.navbar-brand:hover {
    animation: wiggle 300ms;
}

.nav-item.active {
    font-weight: 500;
}

nav a:hover, footer a:hover {
    font-weight: 500;
}

article.card {
    transition: transform 500ms;
    &:hover {
        transform: scale(1.1);
    }
}

.fab {
    color: $secondary;
    &:hover {
        color: $primary;
    }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    color: black;
}