.navbar-brand:hover {
    animation: wiggle 300ms;
}

.nav-item.active {
    font-weight: 500;
}

nav a:hover, footer a:hover {
    font-weight: 500;
}

.fab {
    color: $secondary;
    &:hover {
        color: $primary;
    }
}

@media (max-width: 320px) {
    .footer-item {
        width: 100%;
    }
}

@keyframes wiggle {
    0%, 100% {
        transform: rotate(0deg);
    }
    20%, 60% {
        transform: rotate(-2deg);
    }
    40%, 80% {
        transform: rotate(2deg);
    }
}